# This isn't to be used for the go integration tests because their logs are placed in a different location and require few extra steps.
name: Log Collector
description: Log collector for canary test
inputs:
  name:
    description: Name to use for the workflow
    required: true
  operator-namespace:
    description: Operator namespace where rook operator is deployed
    required: false
    default: rook-ceph
  cluster-namespace:
    description: Cluster namespace where ceph cluster is deployed
    required: false
    default: rook-ceph

runs:
  using: "composite"
  steps:
    - name: collect common logs
      shell: bash --noprofile --norc -eo pipefail -x {0}
      env:
        OPERATOR_NAMESPACE: ${{ inputs.operator-namespace }}
        CLUSTER_NAMESPACE: ${{ inputs.cluster-namespace }}
      run: |
        tests/collect-logs.sh

    - name: Upload canary test result
      uses: actions/upload-artifact@v4
      with:
        name: ${{ inputs.name }}
        path: test
